* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.loading {
  width: 50px;
  height: 12px;
  background: radial-gradient(circle closest-side, #011021 90%, #0000) 0 0/33%
    100% space;
  clip-path: inset(0 100% 0 0);
  animation: d1 1s steps(4) infinite;
}
@keyframes d1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

.spinner-route {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner-route > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-route .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-route .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner-route .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-route .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.slick-slider .slick-dots {
  position: fixed;
  bottom: 20px;
  left: 10px;
  text-align: left;
}
.slick-dots li button {
  color: #e6e8ec !important;
}
.slick-slider .slick-dots li button:before {
  font-size: 18px;
  opacity: 1;
  color: #e6e8ec !important;
}
.slick-dots li.slick-active button:before {
  color: #b1b5c3 !important;
}
.slickHome .slick-list {
  height: 100vh;
}
/* .MuiTabs-flexContainer {
  width: 100%;
  justify-content: center;
} */

/* .btnService {
  width: 50%;
  max-width: 50%;
  color: black;
  font-weight: 400;
  font-size: 20px;
  min-height: 0;
  height: 40px;
} */

/* .Mui-selected {
  padding: 5px;
  border-radius: 0 10px 10px 0;
  color: white !important;
  background-color: black;
}
.Mui-selected:first-child {
  padding: 5px;
  border-radius: 10px 0 0 10px;
  color: white !important;
  background-color: black;
} */

/* .MuiTabs-indicator {
  display: none;
} */

.activeHeader {
  transition: ease-in 0.5s;
  background-color: white;
  border-bottom: 1px solid #e6e8ec;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.popopopopo .slick-track {
  display: flex;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.popopopopo .slick-track .slick-slide {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 230px !important;
}

.slick .slick-dots {
  text-align: center;
  position: static;
}

.slideImg,
.slideImg .slick-list {
  height: 100%;
}
.slideImg .slick-track {
  height: 200px;
}
.popopopopo.slideImg .slick-track {
  gap: 0;
  height: 100%;
}

.MuiBox-root .slideImg .slick-prevs {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
}
.MuiBox-root .slideImg .slick-nexts {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 5;
}
/* animation */

@keyframes mouse {
  from {
    top: 5%;
  }
  to {
    top: 80%;
  }
}
