* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.slick-dots li {
  width: 1rem !important;
  height: 1rem !important;
  margin: 0 0.5rem 0 0 !important;
}

.slick-dots li:last-child {
  margin: 0 !important;
}

.slick-dots li button {
  width: 1rem !important;
  height: 1rem !important;
  color: #e6e8ec !important;
}
.slick-slider .slick-dots li button:before {
  opacity: 1;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #e6e8ec !important;
  transition: 250ms;
}
.slick-dots li.slick-active button:before {
  color: #b1b5c3 !important;
  opacity: 1 !important;
}

.activeHeader {
  transition: ease-in 0.5s;
  background-color: white;
  border-bottom: 1px solid #e6e8ec;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.slick .slick-dots {
  text-align: center;
  position: static;
}

.slideImg,
.slideImg .slick-list {
  height: 100%;
}
.slideImg .slick-track {
  height: 100%;
}
.slideImg .slick-list .slick-track .slick-slide div {
  height: 100%;
}

.MuiBox-root .slideImg .slick-prevs {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
}
.MuiBox-root .slideImg .slick-nexts {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 5;
}

/* animation */
@keyframes mouse {
  from {
    top: 5%;
  }
  to {
    top: 80%;
  }
}
